<ion-header>
    <ion-toolbar>
        <ion-title>Rechercher</ion-title>
        <ion-button slot="start">
            <ion-menu-button menu="main-menu"></ion-menu-button>
        </ion-button>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item>
        <ion-title>Choisir une catégorie</ion-title>
    </ion-item>
    
    <div id="container">
        <ion-card (click)="searchFr()">
          <img src="/../../../assets/default-img/market.png" alt="">
          <ion-card-content><h5>Fruits</h5></ion-card-content>
        </ion-card>
        <ion-card>
          <img src="/../../../assets/default-img/market.png" alt="">
          <ion-card-content><h5>Animaux</h5></ion-card-content>
        </ion-card>
        <ion-card>
          <img src="/../../../assets/default-img/market.png" alt="">
          <ion-card-content><h5>Légumes</h5></ion-card-content>
        </ion-card>
        <ion-card>
          <img src="/../../../assets/default-img/market.png" alt="">
          <ion-card-content><h5>Boissons</h5></ion-card-content>
        </ion-card>
      </div>
</ion-content>
