#container {
      display: flex;
      justify-content: center;
      align-items: stretch;
      flex-wrap: wrap;

      ion-card {
        flex: 0 1 40%;
      }

      h5{
        text-align: center;
      }

  }

  



  