<ion-header>
    <ion-toolbar>
        <ion-title>Nouveau produit</ion-title>
        <ion-button slot="start">
            <ion-menu-button menu="main-menu"></ion-menu-button>
        </ion-button>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="registerForm">
      <form [formGroup]="productForm" >
        <ion-item>
          <ion-label>Nom du produit  </ion-label>
          <ion-input type="text" placeholder="nom du produit" formControlName="productName"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Description</ion-label>
          <ion-textarea type="text" placeholder="Petite description du produit" formControlName="description"></ion-textarea>
        </ion-item>
        <ion-list>
            <ion-list-header>
              <ion-label>
                Choisir une catégorie de produit
              </ion-label>
            </ion-list-header>
          
            <ion-item>
              <ion-label>Catégorie</ion-label>
              <ion-select placeholder="Choisir une catégorie" formControlName="categorie">
                  <ion-select-option value="{{item}}" *ngFor="let item of categorie">{{item}}</ion-select-option>
              </ion-select>
            </ion-item>
          
          </ion-list>
        <ion-item>
          <ion-label>Période de disponibilité </ion-label>
          <ion-input type="text" placeholder="ex: Janvier à Octobre" formControlName="periode"></ion-input>
        </ion-item>
        
        <ion-button shape="round" expand="block"  (click)="addProduct()" [disabled]="!productForm.valid" >S'enregistrer</ion-button>
        <ion-button shape="round" expand="block" routerLink="/userPage" >Annuler</ion-button>

  
      </form>
    </div>
  </ion-content>